body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to top right, rgb(104, 98, 98), rgb(155, 152, 152));
}

button{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgb(158, 155, 155);
    color: white;
    font-size: 3em;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: rgb(200, 197, 197);
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(103, 99, 99);
    box-shadow: 10px 10px 15px black;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(158, 155, 155);
    color: white;
}
.operator-btn{
    background-color: orange;
}
.operator-btn:hover{
    background-color: rgb(246, 200, 115);
}